    @font-face{
        font-family:"Factoria W05 Demi";
        src:url("Fonts/156bf7fd-91d0-4704-9220-7f1aa481b603.eot?#iefix");
        src:url("Fonts/156bf7fd-91d0-4704-9220-7f1aa481b603.eot?#iefix") format("eot"),url("Fonts/7769ff41-71a1-4170-90a6-45f9773289fe.woff2") format("woff2"),url("Fonts/fee6898c-f9dc-4765-b9bb-74831d270849.woff") format("woff"),url("Fonts/b0867d3e-07c5-4ead-9d0f-1106dd8e6d5f.ttf") format("truetype");
    }
